@import "_components.sass"

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif
    // @media screen and (min-width: 1000px)
        // background-color: red



// header
.header
    display: flex
    justify-content: space-between
    align-items: center
    margin: 40px auto

    width: 90%
    // height: 7rem
    // border: 1px solid red

    &-logo
        font-size: 1.5em
        color: $very-dark-blue

        h1
            font-family: 'Gloock', serif

    &-navbar-desktop
        // width: 40%
        // display: none
        // border: 1px solid black

        ul
            display: flex
            align-items: center
            gap: 3rem

            li
                list-style: none
                color: $dark-grayish-blue
                font-size: 1rem
                font-weight: 600
                cursor: pointer

    &-navbar-mobile
        display: none
        cursor: pointer

        ul
            display: flex
            align-items: center
            justify-content: space-around

            width: 50%

            li
                list-style: none


// main
.main
    display: flex
    flex-direction: row
    gap: 1.5rem
    width: 90%
    margin: 0 auto
    // border: 1px solid red

    &-container
        display: flex
        flex-direction: column
        gap: 1.5rem
        width: 80%

        // border: 1px solid blue
        &-img
            &-desktop
                width: 100%
                height: 100%

            &-mobile
                display: none

        &-content
            display: flex
        
            &-one   
                width: 50%
                padding-right: 30px
                // border: 1px solid blue

                h1
                    font-size: 3.3rem
                    line-height: 55px
                    color: $very-dark-blue
                    // border: 1px solid blue

            &-two
                display: flex
                flex-direction: column
                justify-content: space-between
                width: 50%
                // border: 3px solid green

                p
                    font-size: 1.1rem
                    color: gray

                &-button
                    height: 50px
                    width: 180px
                    background-color: $soft-red
                    border: none
                    color: $off-white
                    font-weight: bold
                    letter-spacing: 3px
                    font-family: heebo
                    font-size: 15px
                    cursor: pointer
                    font-family: sans-serif

                    transition: .5s

                    &:hover
                        background-color: $dark-red               


    .aside
        display: flex
        flex-direction: column
        justify-content: space-around
        padding: 1rem
        width: 25%
        background-color: $very-dark-blue
        border: 2px solid black

        h1
            color: $soft-orange
            font-size: 30px

        &-topic

            h3
                color: $off-white
                padding-bottom: 20px 

            p
                color: $dark-grayish-blue
    

// footer
.footer
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 90%
    // height: 150px
    margin: 60px auto
    // border: 1px solid red

    &-container
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        // height: 250px
        // border: 2px solid green

        &-content
            display: flex
            // gap: 20px
            width: 100%
            height: 150px
            cursor: pointer
            // border: 1px solid blue

            &-main
                display: flex
                flex-direction: column
                justify-content: space-between
                padding: 0 20px
            
                h1
                    color: $grayish-blue

                p
                    color: $dark-grayish-blue
                    font-size: 1.05rem



// tablet
@media screen and (max-width: 700px)
    .header

        &-navbar-desktop
            display: none

        &-navbar-mobile
            display: inline

            p
                font-size: 50px

    .main
        display: flex
        flex-direction: column
        // width: 90%

        // border: 1px solid blue

        &-container
            width: 100%

            &-content
                display: flex
                flex-direction: column

                &-one
                    width: 100%
                    padding: 0
                    // border: 1px solid red

                &-two
                    width: 100%
                    padding-bottom: 50px

                    p
                        padding: 20px 0 

        .aside
                width: 100%
                height: 500px

    .footer
            // border: 1px solid red
            width: 90%

            &-container
                display: flex
                flex-direction: column
                // border: 1px solid blue

                &-content
                    padding-bottom: 30px


// mobile
@media screen and (max-width: 500px)
    .header
        width: 85%
        // border: 1px solid red

        &-navbar-desktop
            display: none

        &-navbar-mobile
            display: inline
            
            p
                font-size: 50px

    .main
        display: flex
        flex-direction: column
        width: 85%

        // border: 1px solid blue

        &-container
            width: 100%

            &-img
                &-desktop
                    display: none

                &-mobile
                    display: inline
                    width: 100%
                    height: 100%

            &-content
                display: flex
                flex-direction: column

                &-one
                    width: 100%
                    padding: 0
                    // border: 1px solid red

                &-two
                    width: 100%
                    padding-bottom: 50px

                    p
                        padding: 20px 0 

        .aside
                width: 100%
                height: 500px

    .footer
            // border: 1px solid red
            width: 85%

            &-container
                display: flex
                flex-direction: column
                // border: 1px solid blue

                &-content
                    padding-bottom: 60px
                    height: 200px
                    // border: 1px solid blue