* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 90%;
}
.header-logo {
  font-size: 1.5em;
  color: #00001a;
}
.header-logo h1 {
  font-family: "Gloock", serif;
}
.header-navbar-desktop ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-navbar-desktop ul li {
  list-style: none;
  color: #5d5f79;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.header-navbar-mobile {
  display: none;
  cursor: pointer;
}
.header-navbar-mobile ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.header-navbar-mobile ul li {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}
.main-container-img-desktop {
  width: 100%;
  height: 100%;
}
.main-container-img-mobile {
  display: none;
}
.main-container-content {
  display: flex;
}
.main-container-content-one {
  width: 50%;
  padding-right: 30px;
}
.main-container-content-one h1 {
  font-size: 3.3rem;
  line-height: 55px;
  color: #00001a;
}
.main-container-content-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.main-container-content-two p {
  font-size: 1.1rem;
  color: gray;
}
.main-container-content-two-button {
  height: 50px;
  width: 180px;
  background-color: #f15e50;
  border: none;
  color: #fffdfa;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: heebo;
  font-size: 15px;
  cursor: pointer;
  font-family: sans-serif;
  transition: 0.5s;
}
.main-container-content-two-button:hover {
  background-color: #ed3321;
}
.main .aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  width: 25%;
  background-color: #00001a;
  border: 2px solid black;
}
.main .aside h1 {
  color: #e9ab53;
  font-size: 30px;
}
.main .aside-topic h3 {
  color: #fffdfa;
  padding-bottom: 20px;
}
.main .aside-topic p {
  color: #5d5f79;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-container-content {
  display: flex;
  width: 100%;
  height: 150px;
  cursor: pointer;
}
.footer-container-content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-container-content-main h1 {
  color: #c5c6ce;
}
.footer-container-content-main p {
  color: #5d5f79;
  font-size: 1.05rem;
}

@media screen and (max-width: 700px) {
  .header-navbar-desktop {
    display: none;
  }
  .header-navbar-mobile {
    display: inline;
  }
  .header-navbar-mobile p {
    font-size: 50px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .main-container {
    width: 100%;
  }
  .main-container-content {
    display: flex;
    flex-direction: column;
  }
  .main-container-content-one {
    width: 100%;
    padding: 0;
  }
  .main-container-content-two {
    width: 100%;
    padding-bottom: 50px;
  }
  .main-container-content-two p {
    padding: 20px 0;
  }
  .main .aside {
    width: 100%;
    height: 500px;
  }
  .footer {
    width: 90%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container-content {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    width: 85%;
  }
  .header-navbar-desktop {
    display: none;
  }
  .header-navbar-mobile {
    display: inline;
  }
  .header-navbar-mobile p {
    font-size: 50px;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .main-container {
    width: 100%;
  }
  .main-container-img-desktop {
    display: none;
  }
  .main-container-img-mobile {
    display: inline;
    width: 100%;
    height: 100%;
  }
  .main-container-content {
    display: flex;
    flex-direction: column;
  }
  .main-container-content-one {
    width: 100%;
    padding: 0;
  }
  .main-container-content-two {
    width: 100%;
    padding-bottom: 50px;
  }
  .main-container-content-two p {
    padding: 20px 0;
  }
  .main .aside {
    width: 100%;
    height: 500px;
  }
  .footer {
    width: 85%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container-content {
    padding-bottom: 60px;
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */